.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #eee;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
  flex-grow: 1;
}

.side-navbar-logo {
  font-size: 1.9rem;
  font-weight: 800;
  color: #2a0f52;
}

.side-navbar-links {
  list-style: none;
  padding: 0;
  margin-bottom: 19rem;
}

.side-navbar-links li {
  margin-bottom: 2.5rem;
}

.side-navbar-links span {
  font-size: 1rem;
  color: #555;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  display: inline-block;
}

.side-navbar-links span:hover {
  color: #6b2fcc;
}

.side-navbar-links span.active {
  color: #6b2fcc;
  font-weight: 600;
}

.side-navbar-links span.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 35px;
  height: 3px;
  background-color: #6b2fcc;
  border-radius: 4px;
}

.side-navbar-button {
  background-color: #6b2fcc;
  color: #ffffff;
  width: 100px;
  height: 33px;
  max-width: 100%;
  border-radius: 1.5rem;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.side-navbar-button:hover {
  background-color: #2a0f52;
  transform: translateY(-2px);
}

.side-navbar-github {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: absolute;
  bottom: 4rem;
}

.github-icon {
  font-size: 23px;
  position: relative;
  top: 0rem;
  right: 0.3rem;
  color: #2a0f52;
}



