.skills-section {
    padding: 4rem 3rem 2rem;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin-left: 16rem;
    margin-right: 1rem;
  }
  
  .skills-title {
    font-size: 2.2rem;
    color: #2a0f52;
    margin-bottom: 2rem;
    font-weight: 700;
  }
  

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  .skills-category {
    background-color: #ffffff;
    padding: 1.8rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .skills-category h3 {
    color: #7a39d3;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .skills-category p {
    font-size: 1rem;
    color: #555;
    margin: 0;
  }
  
  .skills-description {
    margin-top: 3rem;
    font-size: 1.05rem;
    line-height: 1.8;
    color: #555;
    text-align: justify;
  }

  .skills-description strong {
    color: #2a0f52;
    font-weight: 600;
    font-size: 1rem;
  }
